.header {
 height: 50px;
 min-width: 100vw;
 border: 1px solid black;
 display: flex;
 flex-direction: row;
 background: black;
}
.logo {
 margin-left: 25px;
 font-size: 25px;
}
.nav {
 display: flex;
 align-items: center;
 width: 100%;
 justify-content: space-between;

  a {
   color: #fff;
   text-decoration: none;
  }

  & .links {
   margin-right: 25px;
   font-size: 18px;
  }
}